name: hydro_glass_nav_bar_example
description: Example app demonstrating the hydro_glass_nav_bar package.
publish_to: "none"

environment:
  sdk: ^3.5.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  hydro_glass_nav_bar:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
